*
{
    margin: 0;
    padding: 0;
}

body
{
font-family: sans-serif


}
#nav-bar
{
 position: sticky;
 top: 0;
 z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right,#5f1782 ,#aaaaaa);
    padding: 0 !important;

}
.navbar-brand
{
height: 40px;

}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
}





















